{% extends "admin/base_site.html" %}
{% block title %}Blog Usage Report{% endblock %}

{% block content %}
<h1>Blog Usage Report</h1>
<table>
<tr>
  <td>Person</td>
  <td>Blog Count</td>
  <td>Total Bytes</td>
</tr>
hola
{{ foo }}
</table>
{% endblock %}